/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --foreground: #38393d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-size: 12px;
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:[display:none] [&_*]:[scrollbar-width:none] [&_*::-webkit-scrollbar]:[display:none];
}